build/
.nicegui/
*/.nicegui/
*/build
.west/
modules/
zephyr/
.pyc
__pycache__/
*.pyo
*.pyd

*.d
*.o
*.gch
*.pch
*.ilk
*.pdb
*.so
*.dylib
*.dll
*.mod
*.smod
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.dwo
